// Fonts
//@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Bootstrap select
/* @import "~bootstrap-select/sass/bootstrap-select.scss"; */

$spacing: 8px;
$module: 48px;
:root {
  --progressW: 50%;
}
* {
  box-sizing: border-box;
}
.sliderBar {
  display: block;
  width: 100%;
  position: relative;
  padding: 0 $spacing;
}
@mixin track() {
  height: 2px;
  padding: 0;
  cursor: pointer;
  background: #ccc;
}
@mixin thumb() {
  box-sizing: border-box;/*FF*/
  -webkit-appearance: none;
  width: $module/2;
  height: $module/2;
  margin-top: -$spacing;
  border: $spacing/2 solid #eee;
  border-radius: 50%;
  background: #999;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .5)
}
@mixin active() {
  width: $module*0.75;
  height: $module*0.75;
  margin-top: -$spacing*1.5;
  background: #99F;
}
@mixin progress() {
  background: #99F;
  height: 2px;
}

$fa-font-path:"~fa/../webfonts";
@import "~fa/fontawesome.scss";
@import "~fa/solid.scss";
@import "~fa/regular.scss";
@import "~fa/brands.scss";
