@import "~bootstrap";
oval {
    width: 150px;
    height: 25px;
    -moz-border-radius: 10%;
    -webkit-border-radius: 10%;
    border-radius: 10%;

    border: 10px solid #000000;

    display: flex;
    align-items: center;
}
.crono {
    color: #000000;
    font-family: 'Arial Black', arial;
    font-size: 450%;
    text-shadow: 2px 4px 4px #aaa;
    padding-left: 40px;
}
.rojo {
    color: red !important;
}
.highcharts-figure,
.highcharts-data-table table {
    min-width: 310px;
    max-width: 800px;
    margin: 1em auto;
}

#container0 {
    height: 400px;
}
#container1 {
    height: 400px;
}
#container2 {
    height: 400px;
    width: "100%";
}
#container3 {
    width: "100%";
    height: 400px;
}
#container4 {
    height: 400px;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}
